@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quentin';
  src: url('/fonts/Quentin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SantaCatalina';
  src: url('/fonts/SantaCatalina1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/SofiaProRegularAz.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WeddingSignature';
  src: url('/fonts/TheWeddingSignature-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('/fonts/LEMONMILK-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrittanySignature';
  src: url('/fonts/BrittanySignature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0D1321;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
